TZ=America/Belem

SAMBA_SERVER_NAME=NAS
SAMBA_WORKGROUP=WORKGROUP
SAMBA_USER1=joao
SAMBA_USER1_PASSWORD=ALTERE_ESTA_SENHA
SAMBA_USER2=maria
SAMBA_USER2_PASSWORD=ALTERE_ESTA_SENHA

POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=ALTERE_ESTA_SENHA
REDIS_PASSWORD=ALTERE_ESTA_SENHA

NEXTCLOUD_PORT=8080
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=ALTERE_ESTA_SENHA
NEXTCLOUD_TRUSTED_DOMAINS=localhost 192.168.1.10 arquivos.seudominio.local
